Digest-MD5 should allow realm to be optional

In plugins/digestmd5.c digestmd5_server_mech_step1() should not fail if get_server_realm() returns NULL as follows:
```
    /* get realm */
    result = get_server_realm(sparams, &realm);
    if(result != SASL_OK) return result;
```

Because further down, the code allows for the realm not to exist:
```
    /* add to challenge; if we chose not to specify a realm, we won't
     * send one to the client */
    if (realm && add_to_challenge(sparams->utils,
                                  &text->out_buf, &text->out_buf_len, &resplen,
                                  "realm", (unsigned char *) realm,
                                  TRUE) != SASL_OK) {
        SETERROR(sparams->utils, "internal error: add_to_challenge failed");
        return SASL_FAIL;
    }
```

According to RFC 2831 section 2.1.1, the "realm" directive is optional.


The referenced code has not changed. So this bug is still valid. I second this request.

The mechanism was dropped, so this can be closed.

Noted.