cyrus-sasl can't gssapi + ldaps + maxssf=1 anymore?

The following command fails with cyrus-sasl 2.1.26:

```
ldapsearch -LLL -Y GSSAPI -H ldaps://example.com  -O "maxssf=1" -s "base" -b "" supportedSASLMechanisms

ldap_sasl_interactive_bind_s: Local error (-2)
        additional info: SASL(-1): generic failure: GSSAPI Error:  A token was invalid (unknown mech-code 0 for mech unknown)
```

Whereas it works fine in cyrus-sasl 2.1.23.

Is there somewhere I can submit proper logs and get advice on debugging this? Is there any chance this is a known issue with a workaround? Thanks.


Holy crap. Is this bug really from 2014? http://web.archive.org/web/20140725050152/https://bugzilla.cyrusimap.org/show_bug.cgi?id=3480

2015? The bug says it was filed in 2011. ;)

On 02/14/2017 03:44 PM, Quanah Gibson-Mount wrote:
>
> 2015? The bug says it was filed in 2011. ;)
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub 
> <https://github.com/cyrusimap/cyrus-sasl/issues/419#issuecomment-279873141>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/AWZUIyDg35wyC8fcC1N3dSOx_BGOXayRks5rcjxegaJpZM4L-S_F>.
>

Not wrt that bug (though it sure sounds familiar) but do we have to 
learn to use git in order to pass fixes or
contributions upstream?

(I have a passel of man pages and a few possible bug fixes to contribute.)

-- 
Jan Parcel, Developer Oracle Systems, SPARC & Solaris System Software 
Engineering


I'm not part of the dev team, so couldn't say for sure, but my guess would be yes, you should spend the time to learn how to use git and how to create merge requests via github.  But that's just a best guess. :)

@ksmurchison Will this be addressed by the patch discussed in ML?

Please attach the patch to this issue or create a pull request with the fix

@ksmurchison I can't connect to the cyrus bugzilla where the patch is attached, it's not in the wayway back machine, and it doesn't appear to have been posted to the debian list discussion.  Were the bugzilla attachments preserved when it was migrated to github?

I thought the script that @brong used to migrate from bugzilla was supposed to preserve attachments.  I will have to ask.

@ksmurchison I will see if it is in the debian cyrus-sasl patch set as well

Hm, I don't see a patch specifically referencing the debian bug.  However, they do have 35 patches to the 2.1.26 source that may be worth reviewing.

See that we had a lot of patches downstream in fedora which probably they are the same in debian that were already pushed to master

@nacho I'm checking them now.  The first one I checked is not currently committed into the SASL project.

Pull requests would be greatly appreciated

@ksmurchison Yep, as soon as I get a full list :)

Found the attachment: https://github.com/cyrusimap/BugzillaImport/blob/master/attachments/1393/revert-flags.diff

Commit that broke things was 080e51c7

@aamelnikov  Can you give this a look?  I also assigned a bunch of other GSSAPI/Kerberos bugs to you

@quanah the patch is just a revert of https://github.com/cyrusimap/cyrus-sasl/commit/080e51c7fa0421eb2f0210d34cf0ac48a228b1e9  without the whitespace changes.
It was already said that the patch is correct according to the RFC [1], but it might not be well accepted by the other party.

[1] https://lists.andrew.cmu.edu/pipermail/cyrus-sasl/2015-April/002809.html

@Jakuje I'm simply noting that #349 is a duplicate of this one.  Clearly the behavior change broke things (See #378 as well).

@Jakuje Also, reading that response you linked to, it appears to say the code was RFC compliant w/o the patch as well...

maxssf controls SSF provided by a combination of external SSF (e.g. TLS) and the mechanism SSF. If you are using ldaps, you are likely already getting 128+ SSF. So when you also include "maxssf=1", this means that GSSAPI can't satisfy the request, because external SSF (say 128) + mech ssf (say 0) > maxssf of 1. Basically GSSAPI can't comply with the request.

So can you try "maxssf=N+1", where N is the TLS SSF (symmetric cipher strength)?

There might be other problems with the patch, but at the moment what you are trying to do is not legal.

@aamelnikov Your analysis is incorrect. The "-O" parameter to ldapsearch involves the SASL security strength layer, not the TLS security strength layer.

```    -O security-properties
              Specify SASL security properties.
```

@ksmurchison any update on this? @aamelnikov seems nowhere to be found.  The referenced email thread does not indicate that fixing this would be contrary to the specs.

I talked to Ken and I am pretty sure that the proposed patch (to roll back an earlier change) is incorrect.

1) The current GSSAPI code matches RFC 4752, which was created based on input from people from MIT, such as Sam Hartman. If what RFC 4752 says doesn't interoperate for some reason, there must be a comment added to the patch explaining why it doesn't work, for example by explaining how MIT or Heimdal Kerberos V5 implementations work.

2) If you look at Cyrus SASL code, external ssf is subtracted from min_ssf/max_ssf pretty much everywhere in the code (*). If you want to provide your own analysis and prove me wrong - be my guest!
So, if ldapsearch is setting external ssf on SASL context, max_ssf = 1 will never work with GSSAPI.

(*) The way how (max_ssf - external_ssf) < 0 is handled in different plugins is not entirely consistent and it might result in ssf = 0 in some, while others might stop working altogether. This is something that needs fixing in Cyrus SASL, but that is definitely to the fix suggested in this thread.

3) The proposed change has the effect of not requesting GSS_C_INTEG_FLAG unless max_ssf > external_ssf. This is likely to have an effect on security flags returned from the established GSSAPI context once authentication is complete, down in the same function:

	if ((out_req_flags & GSS_C_INTEG_FLAG) == 0) {
	    /* if the integ_avail flag is not set in the context,
	       then no security layer can be offered or accepted. */
	    text->qop = LAYER_NONE;
	} else if ((out_req_flags & GSS_C_CONF_FLAG) == 0) {
	    /* If the conf_avail flag is not set in the context,
	       then no security layer with confidentiality can be offered
	       or accepted. */
	    text->qop = LAYER_NONE | LAYER_INTEGRITY;
	} else {
	    text->qop = LAYER_NONE | LAYER_INTEGRITY | LAYER_CONFIDENTIALITY;
	}

I suspect that no SASL security layer is negotiated for max_ssf = 1 + ldaps, which means that the code is not working as you expect anyway.


Having said that, I don't claim that the code is perfect or even that is working as intended. In order to make progress on this issue I will need some help from people, in particular, I will need the following information:

Some confirmation on whether external SSF is non 0 (I can provide a debug patch for this).
Values of text->qop and/or out_req_flags variable once GSSAPI authentication is complete.
Version and implementation name of Kerberos V5 used when seeing the problem.
OS version.


I do not have deep understanding of GSSAPI and SASL so I can not answer all of the questions or confirm your analysis, but trying to be helpful, I will attach the bugs that made us doing this change:

For RHEL7 it was ActiveDirectory:

*after upgrading to el7 openldap kerberos binding to active directory fails*
https://bugzilla.redhat.com/show_bug.cgi?id=1154566

For Fedora 19 (with cyrus-sasl-2.1.26), because of incompatibility with other tools using older cyrus-sasl (on Fedora 18: cyrus-sasl-2.1.23). Updating both of the versions to *26 resolved the issue, but there was too many bridges burnt:

*When using F19 programs including KMail/Akonadi or virt-manager, I am no longer able to connect to my F18 Cyrus-IMAPd or libvirtd services using SASL/GSSAPI.*
https://bugzilla.redhat.com/show_bug.cgi?id=984079

Since the issue was pinned directly to this commit and there was no response in the upstream bug for years the only thing left for us (and quite much anyone else) was to revert this patch. I am not saying that the patch we are using is good, nor that it should be applied as it is, but we needed and still need cyrus-sasl that is able to work with older versions and with AD. If we came up with different patch/solution, that will address the same issue and stay compatible with AD/older versions, I am fine.

Hope it helps.

This issue is resolved in 2.1.27 rc6 (pending the application of the https://github.com/cyrusimap/cyrus-sasl/pull/497 pull request to fix heimdal).

## MIT Test

* MIT Kerberos 1.15-1+deb9u1 (pre GSS_C_SEC_CONTEXT_SASL_SSF support)
* Open LDAP 2.4.45

```bash
~$ ldapsearch -LLL -Y GSSAPI -H ldap://ldap.example.com -O "maxssf=1" -s "base" -b "" \
supportedSASLMechanisms
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 1
SASL data security layer installed.
dn:
supportedSASLMechanisms: SRP
supportedSASLMechanisms: PASSDSS-3DES-1
supportedSASLMechanisms: GS2-KRB5
supportedSASLMechanisms: GS2-IAKERB
supportedSASLMechanisms: SCRAM-SHA-256
supportedSASLMechanisms: SCRAM-SHA-1
supportedSASLMechanisms: GSSAPI
supportedSASLMechanisms: GSS-SPNEGO
supportedSASLMechanisms: DIGEST-MD5
supportedSASLMechanisms: OTP
supportedSASLMechanisms: CRAM-MD5
supportedSASLMechanisms: NTLM

~$ ldapwhoami -Y gssapi -O maxssf=1 -H ldap://ldap.example.com
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 1
SASL data security layer installed.
dn:uid=dwhite@example.com,cn=gssapi,cn=auth

~$ ldapwhoami -Y gssapi -O maxssf=1 -H ldap://ldap.example.com -ZZ
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 0
dn:uid=dwhite@example.com,cn=gssapi,cn=auth
```

## Heimdal 7.5.0

```bash
:~$ ldapsearch -LLL -Y GSSAPI -H ldap://ldap.example.org -O "maxssf=1" -s "base" -b "" \
supportedSASLMechanisms
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.ORG
SASL SSF: 1
SASL data security layer installed.
dn:
supportedSASLMechanisms: SRP
supportedSASLMechanisms: PASSDSS-3DES-1
supportedSASLMechanisms: SCRAM-SHA-256
supportedSASLMechanisms: SCRAM-SHA-1
supportedSASLMechanisms: GSSAPI
supportedSASLMechanisms: GSS-SPNEGO
supportedSASLMechanisms: DIGEST-MD5
supportedSASLMechanisms: OTP
supportedSASLMechanisms: CRAM-MD5
supportedSASLMechanisms: NTLM

~$ ldapwhoami -Y gssapi -O maxssf=1 -H ldap://ldap.example.org -ZZ
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.ORG
SASL SSF: 0
dn:uid=dwhite,cn=gssapi,cn=auth
```


Dan, I think you need to test ldaps:// URIs

@ksmurchison 

ldaps is good. I'm using openssl 1.1.0f-3+deb9u1.

## Mit

```bash
~$ ldapwhoami -Y gssapi -H ldaps://ldap.example.com
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 56
SASL data security layer installed.
dn:uid=dwhite@example.com,cn=gssapi,cn=auth
~$ ldapwhoami -Y gssapi -H ldap://ldap.example.com -ZZ
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 56
SASL data security layer installed.
dn:uid=dwhite@example.com,cn=gssapi,cn=auth
~$ ldapwhoami -Y gssapi -O maxssf=1 -H ldaps://ldap.example.com
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.COM
SASL SSF: 0
dn:uid=dwhite@example.com,cn=gssapi,cn=auth
```

### slap.conf (complete)

```apacheconf
pidfile /var/run/slapd.pid
TLSCACertificateFile /root/example.pem
TLSCertificateFile /root/ldap.example.com.cert.pem
TLSCertificateKeyFile /root/ldap.example.com.key.pem
```

## Heimdal

```bash
~$ ldapwhoami -Y gssapi -H ldaps://ldap.example.org
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.ORG
SASL SSF: 56
SASL data security layer installed.
dn:uid=dwhite,cn=gssapi,cn=auth
~$ ldapwhoami -Y gssapi -H ldap://ldap.example.org -ZZ
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.ORG
SASL SSF: 56
SASL data security layer installed.
dn:uid=dwhite,cn=gssapi,cn=auth
~$ ldapwhoami -Y gssapi -O maxssf=1 -H ldaps://ldap.example.org
SASL/GSSAPI authentication started
SASL username: dwhite@EXAMPLE.ORG
SASL SSF: 0
dn:uid=dwhite,cn=gssapi,cn=auth
```

### slapd.conf

```apacheconf
pidfile /var/run/slapd.pid
TLSCACertificateFile /root/example.pem
TLSCertificateFile /root/ldap.example.org.cert.pem
TLSCertificateKeyFile /root/ldap.example.org.key.pem
```

Cool.  Do others agree that this issue is resolved?

I would like to see it demonstrated that @whitehse environment has success with 2.1.23, failure with 2.1.26, and success with 2.1.27.  I.e., there's no indication that the environment being used was having this issue to begin with. ;)

@whitehse Also see https://github.com/cyrusimap/cyrus-sasl/issues/378 as this is another form of the problem, if you have the capability of testing via Java JNDI.

@quanah I will test against 2.1.23 and 26. There are compatibility problems with openssl 1.1.0f that I'll need to straighten out, so it will be a few days before I can get to this.

Thanks @whitehse !  I'm also trying to pull in some previously affected parties to see if they can test as well.

Where do we stand on this?  I've obviously missed the December deadline for release waiting for resolution.

@ksmurchison 

I should have some time over the next couple of days to verify this.

@ksmurchison @quanah 

I am unable to reproduce this problem, with debian stable, and unpatched versions of sasl 2.1.26, openldap 2.4.45 and with either mit krb5-1.16 or Heimdal 7.5.0. libgssapi would not load on 2.1.23 with the most recent heimdal.

Admittedly this is a totally different setup than what triggered the originally reported issue, which was using all Debian packages, and I believe it was from 2011.

I have lxc templates if you'd like to investigate further:

https://github.com/whitehse/testing/tree/master/cyrus/lxc/templates


Suggestions on how to proceed?  Are we in "good enough for now" territory, or do we need more testing and/or a different fix?

I think we've no idea whether or not the issue as described has been addressed, unfortunately.  And I don't currently have the infrastructure to test it out on, or I'd be happy to see if I could reproduce the original problem and then compare that to the current release candidate.  I guess at best, cyrus-sasl would be no worse off, and potentially have resolved the problem.  It'd just be nice to have a definitive answer.

The issue report originated from a legacy SSO implementation and might be specific to MSAD.

I'm inclined to believe Alexey when he says our application code is probably wrong (as legacy code without unit tests often is).

I will try building the rc within the next couple of days. I'm fine with proceeding with the release if it doesn't work, though--we've already frozen the cyrus-sasl version for our current production release.

As someone who experienced in a non MSAD environment, I can confirm it's not solely limited to MSAD.  See also the comment from ' Jakuje commented on Nov 24, 2017 ' and issues #349 and issue #378 

We have some automated tests against older version of cyrus-sasl and some MSADs, but I am not sure if I tested the latest rc with the patch reverted or not.
I will try to have a look into that in coming days, ideally with a new rc.

I am sorry for delay. I finally built the latest snapshot, but I am hitting some other issues with cyrus-sasl in the tests so I will have to investigate it further what is going on.

Unfortunately I can confirm that the old version we have in Fedora works fine against ADs, but not the latest rc7 (unless I revert the commit 080e51c).

I can only say that the committed change did not fix the problem we encountered.

I will try to investigate more what went wrong if I will be able to figure out more, but I can't promise anything. Unfortunately, the test case itself would not be helpful since it depends on internal AD servers we test against. But the test does not involve anything more complicated than a ldapsearch:

`ldapsearch -Y GSSAPI -H ldap://sec-ad2.example.com -b dc=ad2,dc=baseos,dc=qe CN=Amy`

@Jakuje Thanks for the confirmation that this problem is not fixed, as suspected.

Sorry, I had partially bad look, but the result is that it does not work flawlessly "as before". The test is running various maxssf values against various servers (IPA, AD), probably with different versions. I would have to look into that further

For IPA2 server (probably RHEL7?), it works flawlessly

All the others i see failures with `maxssf=0` and `maxssf=4294967296` (bogus large enough value?). The error now looks this way:
```
SASL/GSSAPI authentication started
ldap_sasl_interactive_bind_s: Local error (-2)
        additional info: SASL(-1): generic failure: GSSAPI Error: A required input parameter could not be read (Unknown error)
```

The tested values `maxssf=1` and `maxssf=56` work fine in all the cases that I tested.

I am not completely sure how to interpret these results, since it is change from previous versions, but "reasonable" values seems to work. What do you think?


On 2/13/2018 9:39 AM, Jakub Jelen wrote:
>
> Sorry, I had partially bad look, but the result is that it does not 
> work flawlessly "as before". The test is running various maxssf values 
> against various servers (IPA, AD), probably with different versions. I 
> would have to look into that further
>
> For IPA2 server (probably RHEL7?), it works flawlessly
>
> All the others i see failures with |maxssf=0| and |maxssf=4294967296| 
> (bogus large enough value?). The error now looks this way:
>
> |SASL/GSSAPI authentication started ldap_sasl_interactive_bind_s: Local 
> error (-2) additional info: SASL(-1): generic failure: GSSAPI Error: A 
> required input parameter could not be read (Unknown error) |
>
> The tested values |maxssf=1| and |maxssf=56| work fine in all the 
> cases that I tested.
>
> I am not completely sure how to interpret these results, since it is 
> change from previous versions, but "reasonable" values seems to work. 
> What do you think?
>
I would expect a check of the value and an explicit error message saying 
what the limit is and that it exceeded that limit.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/cyrusimap/cyrus-sasl/issues/419#issuecomment-365344413>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/AWZUI0QfjXE84Jj-HFT2aH03gBv4WgDlks5tUcjlgaJpZM4L-S_F>.
>

-- 
Jan Parcel, Software Developer
Oracle Systems Server & Cloud Engineering



With `maxssf=0` I see the cyrus-sasl code invoked, `gssapi_client_mech_step()` called, but this error comes from `plugins/gssapi.c`, which fails:

1932         maj_stat = gss_unwrap(&min_stat,
1940		if (GSS_ERROR(maj_stat)) {
(gdb) p maj_stat
$1 = 16777216 (`GSS_S_CALL_INACCESSIBLE_READ`?)

I did not go deeper into the gssapi code to investigate further. I have the test system if you would have some ideas what more I can try.

See the response in https://github.com/cyrusimap/cyrus-sasl/issues/433#issuecomment-383351131

So let's revert this change finally, and do a release? Or is there any more feedback needed?

Or shall we also work on addressing the referenced [FIX ME](https://github.com/cyrusimap/cyrus-sasl/blob/master/plugins/gssapi.c#L1853)?

This can be closed now, right @ksmurchison ? Since 2.1.27 has released with your commit. ;)

@ksmurchison Just stumbled upon this. With e41cfb9 reverting 080e51c 

https://github.com/cyrusimap/cyrus-sasl/blob/master/plugins/gssapi.c#L1762-L1774

does not comply with RFC 4752, section 3.1:

    The client calls GSS_Init_sec_context, passing in
    input_context_handle of 0 (initially), mech_type of the Kerberos V5
    GSS-API mechanism [KRB5GSS], chan_binding of NULL, and targ_name
    equal to output_name from GSS_Import_Name called with input_name_type
    of GSS_C_NT_HOSTBASED_SERVICE (*) and input_name_string of
    "service@hostname" where "service" is the service name specified in
    the protocol's profile, and "hostname" is the fully qualified host
    name of the server.  When calling the GSS_Init_sec_context, the
    client MUST pass the integ_req_flag of TRUE (**).  If the client will
    be requesting a security layer, it MUST also supply to the
    GSS_Init_sec_context a mutual_req_flag of TRUE, and a
    sequence_req_flag of TRUE.  If the client will be requesting a
    security layer providing confidentiality protection, it MUST also
    supply to the GSS_Init_sec_context a conf_req_flag of TRUE.

anymore.

@michael-o Please read the full discussion.  This was already referenced in the ticket, but again:

https://lists.andrew.cmu.edu/pipermail/cyrus-sasl/2015-April/002809.html

This was also discussed directly with the Heimdal Kerberos team and Ken Hornstein at the time this was being reviewed to confirm that this code change does in fact comply with the RFC.

@quanah I have read the entire thread again, all linked tickets as well as Ken Hornstein's mail. I do not understand his argumentation, it does not necessary mean that it is wrong, but it lacks description why his interpretation (!) of the RFC is not wrong. From a pure POV, leaving `external_ssf` aside, I'd say that the revert is wrong and @aamelnikov is right. The code does not comply with the RFC anymore. Going further reading the code one might argue that if external (TLS) has established `int` of `conf` it does not require Kerebros to do so anymore. If that is the given interpretation at the moment, committers really need to document the code for this.
It would also be very helpful to add/write:

```
$ ldapsearch -H ldaps://ad001.siemens.net   -O "maxssf=256"
SASL/GSSAPI authentication started
SASL username: osipovmi@AD001.SIEMENS.NET
SASL SSF: 0
SASL external SSF: 256
# extended LDIF
...
```

Note the external SSF.

@michael-o Please see https://github.com/cyrusimap/cyrus-sasl/issues/433#issuecomment-383351131 as well.

@quanah I have read that one too. I do not fully understand what you are trying to say with that. If we put aside that SASL much check flags after the context is established, I only partially agree that `int` and `conf` are hints to GSS-API, but not to Kerberos. If you don't set that hint the mech below will never see it. So please explain what you are trying to say. I really want to understand!

Just to comment - [RFC4752](https://tools.ietf.org/html/rfc4752) is a bit strange here. In 3.3 we see there are only 3 defined flags on the wire:

`The security layers and their corresponding bit-masks are as follows:

          1 No security layer
          2 Integrity protection.
            Sender calls GSS_Wrap with conf_flag set to FALSE
          4 Confidentiality protection.
            Sender calls GSS_Wrap with conf_flag set to TRUE`

and yet the API has 4 flags
`When calling the GSS_Init_sec_context, the
   client MUST pass the integ_req_flag of TRUE (**).  If the client will
   be requesting a security layer, it MUST also supply to the
   GSS_Init_sec_context a mutual_req_flag of TRUE, and a
   sequence_req_flag of TRUE.  If the client will be requesting a
   security layer providing confidentiality protection, it MUST also
   supply to the GSS_Init_sec_context a conf_req_flag of TRUE.`
And the mutual auth and sequence rew flags don't correspond to anything in the on-the-wire
flags at all. And it's counter-intuitive to have "no security layer" equal to bit 1 (I would think all-flags-zero would have been more straightforward).

At any rate, it is clear that the original intent was to allow the authentication to proceed without using integrity checks (otherwise no bitflag for integrity would be needed on the wire) so the section 3.1 text requiring integ_req_flag to always be TRUE must be erroneous. It does not appear that this has been noted in any official errata yet. https://www.rfc-editor.org/errata/rfc4752

@hyc mutual and out of sequence detection do not require any wrapping/unwrapping. You still have three: none, auth-int and auth-conf (implies auth-int).

@michael-o sorry, edited my comment further, please see updated comment.

Also note that the previous version of the RFC, [RFC2222](https://tools.ietf.org/html/rfc2222) section 7.2.1 didn't give any requirements on flags to use. Anyway, since the mechanisms are specifically intended to allow operating without an integrity layer, I'll reiterate that this part of RFC4752 section 3.1 is simply wrong and should be disregarded.

@hyc If you think they are wrong, discuss this with Alexey Melnikov and request and updated RFC.

@aamelnikov has participated on this ticket, he should already have been pinged.

@hyc I don't see how the RFC implies a bitmask. For me it is an enum. either or. At some point in time Microsoft's SASL implementation interpreted this as a bitmask and required both bits int and conf to be set. I remember patching SASL for this for a colleague to avoid event on the domain controller. I think this issue has been resolved in never Windows Server versions.

@michael-o Don't waste my time. The RFC says explicitly "The security layers and their corresponding bit-masks are as follows:" - it is explicit, not implied.

And you believe it makes sense to set off and auth-conf atvthe same time? That's nonsense. It is just bad wording requiring some errata.

@michael-o Now you're just repeating what I already said. https://github.com/cyrusimap/cyrus-sasl/issues/419#issuecomment-593124513

But it is not merely bad wording - this is the description of the on-the-wire format, which means any changes made here will break compatibility with any existing software. You have demonstrated that you're unable to read carefully enough to follow this conversation, and unable to reason well enough to participate. Please go away.

@hyc Up, up, and away I am.