gssapi (cvs) breaks when external_ssf >= max_ssf

From: [Dan White](dwhite@olp.net)
Bugzilla-Id: 3480
Version: 2.1.x
Owner: [Alexey Melnikov](Alexey.Melnikov@isode.com)


For the record, as a workaround we are using the revert of the https://github.com/cyrusimap/cyrus-sasl/commit/080e51 commit in Fedora.

Adding a comment also to keep subscribed about the changes in this bug.

Duplicate of #419 

external_ssf is SSF provided by an external layer (e.g. TLS). max_ssf is the SSF required by application. Let's assume for the moment that SSF is additive and roughly correspond to symmetric cipher strength in bits.
When max_ssf is bigger than external_ssf, it means that the application needs to negotiate GSSAPI security layer.

The code matches what RFC 4752, Section 3.1 says:

   When calling the GSS_Init_sec_context, the
   client MUST pass the integ_req_flag of TRUE (**).  If the client will
   be requesting a security layer, it MUST also supply to the
   GSS_Init_sec_context a mutual_req_flag of TRUE, and a
   sequence_req_flag of TRUE.  If the client will be requesting a
   security layer providing confidentiality protection, it MUST also
   supply to the GSS_Init_sec_context a conf_req_flag of TRUE.

So GSS_C_INTEG_FLAG is needed in unconditionally. When at least integrity layer is needed (if external_ssf is 0, that would mean application SSF of 1), GSS_C_MUTUAL_FLAG and GSS_C_SEQUENCE_FLAG are added.

This issue is resolved in 2.1.27 rc6 (pending the application of the https://github.com/cyrusimap/cyrus-sasl/pull/497 pull request to fix heimdal).

I have merged the pull request.  Do others agree that this issue is resolved?